/* Estilos globales */
#app{
    position: relative;
    max-width: 1580px;

}
body {
    background-color: #81C2E8;
}
html {
  scroll-behavior: smooth;
  font-family: 'Short Stack', cursive;
 }
.header-container{
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 30%;
    color: white;
}
.header-overlay {
    width: 100%;
    height: 100%;
    padding: 50px;
    background: brown;
}
.footer-container{
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 85% 85% 0% 0% / 30%;
    color: white;
}
.footer-overlay {
    width: 100%;
    height: 100%;
    padding: 50px;
    background: brown;
}
a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    background-color: antiquewhite;
    text-decoration: none;
}
a.button:hover {
    filter: brightness(150%);
}